/* Container Styling */
.courses-container {
    font-family: Arial, sans-serif;
    padding: 0px 20px;
    width: 100%;
  }
  
  /* Tabs Styling */
  .courses-tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    font-weight: 500;
  }
  
  .tab.active {
    background-color: #526d82;
    color: #fff;
    border-color: #007bff;
  }
  
  /* Courses List */
  .courses-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .course-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .image-container {
    background-color: #dde6ed; /* Equivalent to 'bg-main-100' */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensure content stays inside the rounded edges */
    text-align: center; /* Align text or content inside the div */
    margin-bottom: 8px; /* Spacing from the next element */
    height: 150px;
    width: 100%; /* Fixed height as per your example */
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    padding: 8px; /* Inner padding */
    
  }
  
  .course-image {
    max-width: 100%; /* Ensure image fits inside the container */
    max-height: 100%; /* Maintain aspect ratio within the container */
    object-fit: cover; /* Ensure image fills the container properly */
  }
  
  
  .course-category {
    background-color: #e0f7fa;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .course-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #f0f0f0;
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .progress {
    height: 6px;
    background-color: #526d82;
  }
  
  .creator {
    font-size: 12px;
    margin-bottom: 5px;
    color: #555;
  }
  
  .rating {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .continue-btn {
    background-color: #526d82;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .continue-btn:hover {
    background-color:#496174;
  }
  .page{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 20px;
 
    
  }